<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moja prva speltna stran</title>
</head>
<body style="">
<h1 style="color: green;">Hello world</h1>
<img style=" width: absolute; height: 400px;" src="static/Slika.jpg">
<img src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">

<p style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquid
    animi aspernatur atque culpa eius eligendi labore, laudantium nemo nobis
    nostrum perspiciatis quo repellendus sint soluta tempore vero vitae?</p>

<div style="color: black;">
<ul>vdvd</ul>
<li>seznam</li>
<li>seznam</li>
<li>seznam</li>
<li>seznam</li>
</div>

</body>
</html>